<div class="productContainerHeader">
  <label class="title">About</label>
  <img  src="/img/about.jpg"/>
</div>
<div class="row">
  <div class="col-md-6">
    <ul>
      <h3>
        <span class="glyphicon glyphicon-cog"></span>
        JavaScript fullstack</h3>
      <li>
        <strong>MongoDB:</strong>
        document-based NoSQL database.</li>
      <li>
        <strong>ExpressJS:</strong>
        back-end web application framework.</li>
      <li>
        <strong>AngularJS:</strong>
        front-end MVC web application framework.</li>
      <li>
        <strong>NodeJS:</strong>
        server-side runtime enviroment.</li>
    </ul>
    <ul>
      <h3>
        <span class="glyphicon glyphicon-book"></span>
        Bower packages</h3>
      <li>
        <strong>Angular:</strong>
        front-end MVC web application framework.</li>
      <li>
        <strong>Angular-animate:</strong>
        official Angular animation module.</li>
      <li>
        <strong>Angular-motion:</strong>
        CSS animations as Angular directives.</li>
      <li>
        <strong>Angular-route:</strong>
        official Angular routing module.</li>
      <li>
        <strong>Angular-strap:</strong>
        bootstrap as Angular directives.</li>
      <li>
        <strong>Bootstrap:</strong>
        CSS framework with components.</li>
      <li>
        <strong>Bootstrap-additions:</strong>
        CSS extension kit for bootstrap.</li>
      <li>
        <strong>jQuery:</strong>
        Javascript functions library.</li>
      <li>
        <strong>Ng-file-upload:</strong>
        Angular directive for file upload handling.</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <h3>
        <span class="glyphicon glyphicon-tasks"></span>
        Node modules</h3>
      <li>
        <strong>Body-parser:</strong>
        middleware for http requests parsing.</li>
      <li>
        <strong>Cookie-parser:</strong>
        middleware for cookie parsing.</li>
      <li>
        <strong>Ejs:</strong>
        HTML view engine.</li>
      <li>
        <strong>Express:</strong>
        back-end web application framework.</li>
      <li>
        <strong>Express-load:</strong>
        module for script loading into application.</li>
      <li>
        <strong>Express-session:</strong>
        middleware for session handling.</li>
      <li>
        <strong>Gulp:</strong>
        Javascript task and build runner.</li>
      <li>
        <strong>Gulp-concat:</strong>
        Script concatenation gulp plugin.</li>
      <li>
        <strong>Gulp-jshint:</strong>
        Script syntax linting plugin.</li>
      <li>
        <strong>Gulp-strip-debug:</strong>
        Script debugger removal plugin.</li>
      <li>
        <strong>Gulp-uglify:</strong>
        Script minification plugin.</li>
      <li>
        <strong>Mongoose:</strong>
        Database schema module.</li>
      <li>
        <strong>Mongoose-auto-increment:</strong>
        Database field auto increment plugin.</li>
      <li>
        <strong>Mongo-sanitize:</strong>
        Database query selector sanitizer module.</li>
      <li>
        <strong>Multer:</strong>
        middleware for multipart/form-data handling.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ul>
      <h3>
        <span class="glyphicon glyphicon-picture"></span>
        Imagery</h3>
      <li>Unsplash:
        <a href="https://unsplash.com/">https://unsplash.com/</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <h3>
        <span class="glyphicon glyphicon-download-alt"></span>
        Repository</h3>
      <li>GitHub:
        <a href="https://github.com/FelipeMonobe/foolshop">https://github.com/FelipeMonobe/foolshop</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <blockquote>
        <p>In theory there is no difference between theory and practice. In practice there is.</p>
        <footer>Lawrence Peter Berra</footer>
      </blockquote>
    </div>
  </div>
</div>
