<div class="productContainerHeader">
	<label class="title">About</label>
	<img src="/img/about.jpg" />
</div>
<ul>
  <h3>
    <span class="glyphicon glyphicon-cog"></span> JavaScript technologies</h3>
  <li>MongoDB: document-based NoSQL database.</li>
  <li>ExpressJS: back-end web application framework.</li>
  <li>AngularJS: front-end MVC web application framework.</li>
  <li>NodeJS: server-side runtime enviroment.</li>
  <li>Bower: front-end package manager.</li>
  <li>GulpJS: build task manager.</li>
</ul>
<ul>
  <h3>
    <span class="glyphicon glyphicon-book"></span> Front-end libraries</h3>
  <li>Angular-strap</li>
  <li>Bootstrap</li>
  <li>Angular-animate</li>
  <li>Angular-motion</li>
</ul>
<ul>
  <h3>
    <span class="glyphicon glyphicon-picture"></span> Imagery</h3>
  <li>Unsplash:
    <a href="https://unsplash.com/">https://unsplash.com/</a>
  </li>
</ul>
<ul>
  <h3>
    <span class="glyphicon glyphicon-download-alt"></span> Repository</h3>
  <li>GitHub:
    <a href="https://github.com/FelipeMonobe/foolshop">https://github.com/FelipeMonobe/foolshop</a>
  </li>
</ul>
<br />
<blockquote>
  <p>In theory there is no difference between theory and practice. In practice there is.</p>
  <footer>Lawrence Peter Berra</footer>
</blockquote>
