<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in libero eu tortor accumsan sagittis. Aliquam efficitur
  urna tristique, volutpat orci sit amet, aliquet felis. Morbi lobortis a ipsum sed gravida. Phasellus a nisi tellus. Aliquam
  condimentum enim vitae urna laoreet varius. Duis nec metus eget tortor imperdiet rhoncus nec a lorem. Sed lobortis nec metus
  nec euismod. Nulla vitae consectetur ipsum. Fusce metus neque, congue vitae libero sit amet, hendrerit blandit lorem. Pellentesque
  rutrum quam vel ornare venenatis. Pellentesque lobortis euismod ligula. Etiam nec ante dapibus libero euismod ornare at quis
  ante. In tincidunt, metus eget ullamcorper lobortis, turpis arcu posuere enim, ac cursus nunc augue sagittis orci. Donec
  dictum pellentesque nunc, vitae auctor odio laoreet ut. Fusce turpis nisl, ornare in dictum ut, vulputate ut sem.</p>
<blockquote>
  <p>In theory there is no difference between theory and practice. In practice there is.</p>
  <footer>Lawrence Peter Berra</footer>
</blockquote>