<div class="productContainerHeader">
  <label class="title">Contact</label>
  <img  src="/img/contact.jpg"/>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Information</h3>
    <address>
      <strong>Personal</strong><br>
      Name: Felipe Mikio de Vasconcelos Monobe<br>
      Age: 25<br>
      Country: Brazil<br>
      Occupation: Fullstack developer<br>
      E-mail:
      <a href="mailto:fmvmonobe@gmail.com"> fmvmonobe@gmail.com</a><br>
      Facebook:<a href="https://www.facebook.com/felipe.monobe"> https://www.facebook.com/felipe.monobe</a><br>
      LinkedIn:<a href="https://br.linkedin.com/pub/felipe-monobe/68/8a8/5b8"> https://br.linkedin.com/pub/felipe-monobe/68/8a8/5b8</a><br>
    </address>
    <address>
      <strong>Location</strong><br>
      932, Manuel Jacinto St.<br>
      São Paulo, SP - 05624-001<br>
      P: (11) 3742-1287
    </address>
  </div>
  <div class="col-md-6 pull-right mapStyle" id="map-canvas"></div>
</div>
