<div class="productContainerHeader">
  <label class="title">Contact</label>
  <img  src="/img/contact.jpg"/>
</div>
<br><br>
<div>
	<div class="pull-right" id="map-canvas" style="width: 280px; height: 280px; margin-right: 3.5%"></div>
  <address>
    <strong>Monobe Ltda.</strong><br>
    932, Manuel Jacinto St.<br>
    São Paulo, SP - 05624-001<br>
    P: (11) 3742-1287
  </address>
  <address>
    <strong>Personal information</strong><br>
    First Name: Felipe<br>
    Given Names: Mikio de Vasconcelos<br>
    Last Name: Monobe<br>
    Age: 25<br>
    Country: Brazil<br>
    E-mail:
    <a href="mailto:#">fmvmonobe@gmail.com</a><br>
    Occupation: Fullstack developer
  </address>
</div>
