<div class="productContainerHeader" ng-dblclick="vm.btn_OpenModal()">
	<label class="title">Products</label>
	<img src="/img/products.jpg" />
</div>
<div>
	<div ng-if="vm.products.length < 1">
		<h3>There are no products available.</h3>
	</div>
	<div class="productContainer am-flip-x" ng-repeat="item in vm.products">
		<button ng-if="username != 'guest'" ng-click="vm.btn_RemoveProduct(item._id)" type="button" class="close" aria-label="Close" title="Remove this product">
			<span aria-hidden="true">&times;</span>
		</button>
		<div>
			<img ng-src="http://miravim.org/images/200x150.gif" alt="{{item.name}}" />
		</div>
		<div>
			<span class="label label-default">PRODUCT</span>
			<label ng-if="item.name.length > 15">{{item.name.substring(0,15) + '...'}}</label>
			<label ng-if="item.name.length <= 15">{{item.name}}</label>
		</div>
		<div>
			<span class="label label-default">STOCK</span>
			<label>{{item.stock}}</label>
		</div>
		<div>
			<span class="label label-default">DESCRIPTION</span>
			<label ng-if="item.description.length > 13">{{item.description.substring(0,13) + '...'}}</label>
			<label ng-if="item.description.length <= 13">{{item.description}}</label>
		</div>
		<div>
			<span class="label label-default">BRAND</span>
			<label ng-if="item.brand.length > 17">{{item.brand.substring(0,17) + '...'}}</label>
			<label ng-if="item.brand.length <= 17">{{item.brand}}</label>
		</div>
		<div>
			<span class="label label-default">PRICE</span>
			<label>${{item.price}}</label>
		</div>
	</div>
</div>
