<h1>products</h1>
<button ng-click="vm.btn_AddProduct()" class="btn btn-primary" title="Add new products"><span class="glyphicon glyphicon-plus"></span></button>
<div>
	<div class="productContainer" ng-repeat="item in vm.products">
		<button ng-click="vm.btn_RemoveProduct(item.id)" class="btn btn-danger" title="Remove this product"><span class="glyphicon glyphicon-remove"></span></button>
		<div>
			<label>Code:</label>
			<label>{{item.id}}</label>
		</div>	
		<div>
			<label>Product:</label>
			<label>{{item.name}}</label>
		</div>		
		<div>
			<label>Stock:</label>
			<label>{{item.stock}}</label>
		</div>		
		<div>
			<label>Description:</label>
			<label>{{item.description}}</label>
		</div>		
		<div>
			<label>Brand:</label>
			<label>{{item.brand}}</label>
		</div>		
		<div>
			<label>Price:</label>
			<label>${{item.price}}</label>
		</div>
	</div>	
</div>