<div class="productContainerHeader" ng-dblclick="vm.btn_OpenModal()">
	<label class="title">Products</label>
	<img style="width:1095px" src="/img/123.jpg" />
</div>
<div>
	<div ng-if="vm.products.length < 1">
		<h3>There are no products available.</h3>
	</div>
	<div class="productContainer am-flip-x" ng-repeat="item in vm.products">
		<button ng-click="vm.btn_RemoveProduct(item.id)" type="button" class="close" aria-label="Close" title="Remove this product">
			<span aria-hidden="true">&times;</span>
		</button>
		<div>
			<img ng-src="http://miravim.org/images/200x150.gif" alt="{{item.name}}" />
		</div>
		<div>
			<span class="label label-default">PRODUCT</span>
			<label>{{item.name}}</label>
		</div>
		<div>
			<span class="label label-default">STOCK</span>
			<label>{{item.stock}}</label>
		</div>
		<div>
			<span class="label label-default">DESCRIPTION</span>
			<label>{{item.description}}</label>
		</div>
		<div>
			<span class="label label-default">BRAND</span>
			<label>{{item.brand}}</label>
		</div>
		<div>
			<span class="label label-default">PRICE</span>
			<label>${{item.price}}</label>
		</div>
	</div>
</div>